<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ILGOB.ItsME</key>
		<string>App-Store_com.ILGOB.ItsME</string>
	</dict>
	<key>signingCertificate</key>
	<string>FDEDD41799E5AC12884C2E3990828106EC51A956</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2AVC8X7323</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
